@font-face {
  font-family: 'footable';
  src: url('fonts/footable.eot');
  src: url('fonts/footable.eot?#iefix') format('embedded-opentype'), url('fonts/footable.woff') format('woff'), url('fonts/footable.ttf') format('truetype'), url('fonts/footable.svg#footable') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'footable';
    src: url('fonts/footable.svg#footable') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

.footable { width: 100%; }
.footable.breakpoint > tbody > tr.footable-detail-show > td { border-bottom: none; }
.footable.breakpoint > tbody > tr.footable-detail-show > td > span.footable-toggle:before { content: "\e001"; }
.footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) { cursor: pointer; }
.footable.breakpoint > tbody > tr > td.footable-cell-detail { background: #eee; border-top: none; }
.footable.breakpoint > tbody > tr > td > span.footable-toggle { display: inline-block; font-family: 'footable'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; padding-right: 5px; font-size: 14px; color: #888888; }
.footable.breakpoint > tbody > tr > td > span.footable-toggle:before { content: "\e000"; }

.footable.breakpoint.toggle-large > tbody > tr > td > span.footable-toggle { font-size: 24px; }
.footable > thead > tr > th { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: -moz-none; -ms-user-select: none; user-select: none; }
.footable > thead > tr > th.footable-sortable:hover { cursor: pointer; }
.footable > thead > tr > th.footable-sorted > span.footable-sort-indicator:before { content: "\e013"; }
.footable > thead > tr > th.footable-sorted-desc > span.footable-sort-indicator:before { content: "\e012"; }
.footable > thead > tr > th > span.footable-sort-indicator { display: inline-block; font-family: 'footable'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; padding-left: 5px; }
.footable > thead > tr > th > span.footable-sort-indicator:before { content: "\e022"; }
.footable > tfoot .pagination { margin: 0; }
.footable.no-paging .hide-if-no-paging { display: none; }
.footable-row-detail-inner { display: table; }
.footable-row-detail-row { display: table-row; line-height: 1.5em; }
.footable-row-detail-group { display: block; line-height: 2em; font-size: 1.2em; font-weight: bold; }
.footable-row-detail-name { display: table-cell; font-weight: bold; padding-right: 0.5em; }
.footable-row-detail-value { display: table-cell; text-align:left;}
.footable-odd { background-color: #f7f7f7; }


/*! * Bootstrap v2.3.1 * * Copyright 2012 Twitter, Inc * Licensed under the Apache License v2.0 * http://www.apache.org/licenses/LICENSE-2.0 * * Designed and built with all the love in the world @twitter by @mdo and @fat. */ 

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: ""; }
.clearfix:after { clear: both; }
.hide-text { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }
table { max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0; }
.table { width: 100%; margin-bottom: 20px; }
.table th, .table td { padding: 8px; line-height: 20px; text-align: left; vertical-align: top; border-top: 1px solid #dddddd; }
.table th { font-weight: bold; }
.table thead th { vertical-align: bottom; }
.table caption + thead tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td { border-top: 0; }
.table tbody + tbody { border-top: 2px solid #dddddd; }
.table .table { background-color: #ffffff; }
.table-condensed th, .table-condensed td { padding: 4px 5px; }
.table-bordered { border: 1px solid #dddddd; border-collapse: separate; *border-collapse: collapse; border-left: 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.table-bordered th, .table-bordered td { border-left: 1px solid #dddddd; }
.table-bordered caption + thead tr:first-child th, .table-bordered caption + tbody tr:first-child th, .table-bordered caption + tbody tr:first-child td, .table-bordered colgroup + thead tr:first-child th, .table-bordered colgroup + tbody tr:first-child th, .table-bordered colgroup + tbody tr:first-child td, .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td { border-top: 0; }
.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child { -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; }
.table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child { -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-topright: 4px; }
.table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child { -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; }
.table-bordered thead:last-child tr:last-child > th:last-child, .table-bordered tbody:last-child tr:last-child > td:last-child, .table-bordered tbody:last-child tr:last-child > th:last-child, .table-bordered tfoot:last-child tr:last-child > td:last-child, .table-bordered tfoot:last-child tr:last-child > th:last-child { -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; }
.table-bordered tfoot + tbody:last-child tr:last-child td:first-child { -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; }
.table-bordered tfoot + tbody:last-child tr:last-child td:last-child { -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; -moz-border-radius-bottomright: 0; }
.table-bordered caption + thead tr:first-child th:first-child, .table-bordered caption + tbody tr:first-child td:first-child, .table-bordered colgroup + thead tr:first-child th:first-child, .table-bordered colgroup + tbody tr:first-child td:first-child { -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; }
.table-bordered caption + thead tr:first-child th:last-child, .table-bordered caption + tbody tr:first-child td:last-child, .table-bordered colgroup + thead tr:first-child th:last-child, .table-bordered colgroup + tbody tr:first-child td:last-child { -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-topright: 4px; }
.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th { background-color: #f9f9f9; }
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th { background-color: #f5f5f5; }
table td[class*="span"], table th[class*="span"], .row-fluid table td[class*="span"], .row-fluid table th[class*="span"] { display: table-cell; float: none; margin-left: 0; }
.table tbody tr.success > td { background-color: #dff0d8; }
.table tbody tr.error > td { background-color: #f2dede; }
.table tbody tr.warning > td { background-color: #fcf8e3; }
.table tbody tr.info > td { background-color: #d9edf7; }
.table-hover tbody tr.success:hover > td { background-color: #d0e9c6; }
.table-hover tbody tr.error:hover > td { background-color: #ebcccc; }
.table-hover tbody tr.warning:hover > td { background-color: #faf2cc; }
.table-hover tbody tr.info:hover > td { background-color: #c4e3f3; }
.hide { display: none; }
.show { display: block; }
.invisible { visibility: hidden; }
.affix { position: fixed; }